pre,
code,
kbd,
var,
samp {
	/* correct the inheritance and scaling of font size in all browsers */
	font-family: $font.monospace;
	/* correct the odd font sizing in all browsers */
	font-size: 0.875em;
}

code {
	padding: 0 0.25em;
	background-color: $text.code.background;
	border: 1px solid $text.code.border;
	border-radius: 0.125em;
}

pre {
	margin: 0;
	padding: 0 0.25em;
	line-height: 1.25em;
	background-color: $text.code.background;
	border-radius: 0.125em;
	-ms-overflow-style: scrollbar;
	/* hide longs strings of text and enable scrolling */
	overflow: auto;
}

kbd {
	display: inline-block;
	padding: 0.25em;
	margin: 0 0.125em;
	font-size: 0.75em;
	line-height: 1em;
	border: 1px solid $markup.kbd.border;
	border-radius: 0.125em;
	box-shadow: 0 0.125em 0 0.125em #f0f3f5;
}

var {
	padding: 0 0.25em;
	font-weight: bold;
	background-color: $markup.var.background;
}
