ul,
ol,
dd {
	padding-left: 1.125em;
	margin: 0;
	line-height: 1.4;
}

ul:not(:first-child),
ol:not(:first-child),
dd:not(:first-child) {
	margin-top: 2rem;
}

li:not(:first-child) {
	margin-top: 1em;
}

ol ol {
	list-style: lower-latin;
}

dl {
	margin: 0;
}

details {
	/* add the correct display in Edge, IE 10+, and Firefox */
	display: block;
}
summary {
	/* add the correct display in all browsers */
	display: list-item;
}
