/* text selection color */
::selection {
	background-color: $text.selection.background;
	color: $text.selection.color;
	text-shadow: none;
}

h1 {
	margin: 0;
	line-height: 2.8rem;
	font-size: 2.441rem;
	font-weight: 600;
}
h2 {
	margin: 0;
	line-height: 2.4rem;
	font-size: 1.953rem;
	font-weight: 500;
}
h3 {
	margin: 0;
	line-height: 2rem;
	font-size: 1.563rem;
	font-weight: 600;
}
h4 {
	margin: 0;
	line-height: 1.6rem;
	font-size: 1.25rem;
	font-weight: 500;
}
h5 {
	margin: 0;
	line-height: 1.4rem;
	font-size: 1rem;
	font-weight: 500;
}

p {
	padding: 0;
	margin: 0;
	line-height: 2.4rem;
	font-size: 1.6rem;
	font-family: $font.sans;
}

blockquote {
	position: relative;
	margin: 1em 2.5em;
	background-color: $markup.blockquote.background;
}
blockquote:before {
	content: "\201C";
	position: absolute;
	top: -0.2em;
	left: -0.6em;
	font-size: 3em;
	color: $markup.blockquote.quotes;
}
blockquote:after {
	content: "\201D";
	position: absolute;
	right: -0.6em;
	font-size: 3em;
	color: $markup.blockquote.quotes;
}
blockquote > p:not(:first-child) {
	margin-top: 0.25rem;
}
blockquote + cite {
	display: block;
	font-size: 0.875em;
	margin: 0 2.75em;
}

hr {
	/* a better looking default horizontal rule */
	display: block;
	margin: 1em 0;
	height: 1px;
	border: 0;
	background-color: $markup.hr;
	/* add the correct box sizing in Firefox */
	box-sizing: content-box;
	/* show the overflow in Edge and IE */
	overflow: visible;
}
