/*
	Keep in sync with:

	v8.0.0 - https://github.com/necolas/normalize.css
	v6.1.0 - https://github.com/h5bp/main.css
	v4.1.3 - https://github.com/twbs/bootstrap (bootstrap-reboot.css)
	v7.0.1 - https://github.com/csstools/sanitize.css
*/

*,
*::after,
*::before {
	box-sizing: inherit;
	/* remove repeating backgrounds (opinionated) */
	background-repeat: no-repeat;
}

::before,
::after {
	/* pseudo-elements inherit text decoration and vertical align (opinionated) */
	text-decoration: inherit;
	vertical-align: inherit;
}

html {
	/* use border-box when calculating the CSS box model (opinionated) */
	box-sizing: border-box;

	/* minimum window width (opinionated) */
	min-width: 320px;

	/* default font size – 10px (opinionated) */
	/* set in % to allow users to change their default font size in browsers */
	font-size: 62.5%;

	/* default line-height, no line height by default (opinionated) */
	line-height: 1;

	/* prevent adjustments of font size after orientation changes in iOS */
	-webkit-text-size-adjust: 100%;

	/* breaks words in all browsers to prevent overflow */
	word-break: break-word;

	/* ignore non-responsive design overflows */
	overflow-x: hidden;

	/* always saow the vertical scrollbar so that content doesn't jump */
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	tab-size: 2;
}

body {
	position: relative;
	/* remove the margin in all browsers */
	margin: 0;
	/* set the minimum body height as the viewport's height */
	min-height: 100vh;

	font-weight: 400;
	font-style: normal;
	font-family: $font.family.system;
	font-feature-settings: "kern", "liga", "clig", "calt";
	font-kerning: normal;
	word-wrap: break-word;
	letter-spacing: 0;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* text adjust is set to 100% to avoid iOS Safari bugs where the font-size is
     sometimes not restored during orientation */
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;

	/* default color (opinionated) */
	color: #2e3c40;
}

/* attribute that disables scrolling (opinionated) */
body[noscroll] {
	height: 100vh;
	overflow: hidden;
}

/******************************************************************************
		TYPOGRAPHY
******************************************************************************/

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
	/* choose the size of the font so that its lowercase letters */
	font-size-adjust: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* remove heading margins and inherit text properties (opinionated) */
	margin: 0;
	line-height: inherit;
	text-decoration: inherit;
	text-transform: inherit;
}

p {
	padding: 0;
	margin: 0;
}

del,
ins,
mark {
	padding: 2px 4px;
}

mark {
	/* address styling not present in IE 8/9 */
	background-color: #ff0;
	color: #2e3c40;
}

ins {
	background-color: #ebfaec;
	color: #2ac061;
}

del {
	background-color: #fff0f0;
	color: #ff4d4d;
}

q {
	/* set consistent quote types */
	quotes: "\201C" "\201D" "\2018" "\2019";
}

strong {
	/* add the correct font weight in: Chrome, Edge, Safari */
	font-weight: bolder;
}

small {
	/* address inconsistent and variable font size in all browsers */
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	position: relative;
	vertical-align: baseline;
	/* prevent `sub`, `sup` from affecting the line height */
	line-height: 0;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

abbr[title] {
	/* remove the bottom border in Chrome 57 */
	border-bottom: none; /* 1 */
	/* add the correct text decoration in: Chrome, Edge, IE, Opera, Safari */
	text-decoration: underline;
	text-decoration: underline dotted;
}

/******************************************************************************
		BLOCKQUOTE
******************************************************************************/

blockquote {
	position: relative;
	margin: 1em 2.5em;
}
blockquote:before {
	content: "\201C";
	position: absolute;
	top: -0.2em;
	left: -0.6em;
	font-size: 3em;
	color: #e7edf0;
}
blockquote:after {
	content: "\201D";
	position: absolute;
	right: -0.6em;
	font-size: 3em;
	color: #e7edf0;
}

blockquote > p:not(:first-child) {
	margin-top: 0.25rem;
}

/******************************************************************************
		CODE
******************************************************************************/

pre,
code,
kbd,
var,
samp {
	/* correct the inheritance and scaling of font size in all browsers */
	font-family: $font.family.monospace;
	/* correct the odd font sizing in all browsers */
	font-size: 0.875em;
}

code,
pre {
	padding: 0 0.25em;
	background-color: #f6f9fc;
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	line-height: 1.25em;
	-ms-overflow-style: scrollbar;
	/* hide longs strings of text and enable scrolling */
	overflow: auto;
}

kbd {
	display: inline-block;
	padding: 0.25em;
	margin: 0 0.125em;
	font-size: 0.75em;
	line-height: 1em;
	border: 1px solid #2e3c40;
	border-radius: 0.125em;
	box-shadow: 0 0.125em 0 0.125em #f0f3f5;
}

var {
	padding: 0 0.25em;
	font-weight: bold;
	background-color: #f6f9fc;
}

/******************************************************************************
		LINKS
******************************************************************************/

a {
	color: inherit;
	/* remove the gray background on active links in IE 10 */
	background-color: transparent;
	text-decoration: none;
	-webkit-text-decoration-skip: objects;
}
a:hover {
	color: #0056b3;
	text-decoration: underline;
}
a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
	outline: 0;
}

/******************************************************************************
		LISTS
******************************************************************************/

ul,
ol,
dd {
	padding-left: 1.5em;
	margin: 0;
}

ol ol {
	list-style: lower-latin;
}

dl {
	margin: 0;
}

details {
	/* add the correct display in Edge, IE 10+, and Firefox */
	display: block;
}
summary {
	/* add the correct display in all browsers */
	display: list-item;
}

/******************************************************************************
		TABLE
******************************************************************************/

table {
	width: 100%;
	background-color: transparent;
	/* remove most spacing between table cells */
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	font-weight: bold;
	border-bottom: 2px solid #e7edf0;
}
th,
td {
	line-height: 2em;
	text-align: left;
	vertical-align: top;
}
td {
	border-top: 1px solid #e7edf0;
}
th,
td {
	padding: 0;
}

/******************************************************************************
		SVG
******************************************************************************/

/* change the fill color to match the text color */
svg {
	fill: currentColor;
}

/* hide the overflow in IE */
svg:not(:root) {
	overflow: hidden;
}

/******************************************************************************
		FORM
******************************************************************************/

form {
	/* prevent form element from influencing the layout */
	display: block;
}

button,
input,
optgroup,
select,
textarea {
	/* change the font styles in all browsers */
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
	/* remove the margin in Firefox and Safari */
	margin: 0;
}

button,
input {
	/* show the overflow in: IE, Edge */
	overflow: visible;
}

button,
select {
	/* remove the inheritance of text transform in Edge, Firefox, and IE */
	text-transform: none;
}

textarea {
	/* remove the margin in Firefox and Safari */
	margin: 0;
	/* remove the default vertical scrollbar in IE 10+ */
	overflow: auto;
	/* allow only vertical resizing of textareas */
	resize: vertical;
}

/* correct the inability to style clickable types in iOS and Safari */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
	/* remove the padding in IE 10 */
	padding: 0;
}

/* correct the cursor style of increment and decrement buttons in Safari */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	/* correct the odd appearance in Chrome and Safari */
	-webkit-appearance: textfield;
	/* correct the outline style in Safari */
	outline-offset: -2px;
}

/* remove the inner padding in Chrome and Safari on macOS */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	/* correct the inability to style clickable types in iOS and Safari */
	-webkit-appearance: button;
	/* change font properties to `inherit` in Safari */
	font: inherit;
}

/******************************************************************************
		PLACEHOLDER
******************************************************************************/

::-webkit-input-placeholder {
	color: #c2d1da;
}

/* mozilla Firefox 19+ */
::-moz-placeholder {
	color: #c2d1da;
	opacity: 1;
}

/* internet Explorer 10+ */
[placeholder]:-ms-input-placeholder {
	color: #c2d1da;
}

/******************************************************************************
		SELECTION
******************************************************************************/

/* text selection color */
::selection {
	background-color: #fdf6bb;
	color: #2e3c40;
	text-shadow: none;
}

/******************************************************************************
		HORIZONTAL LINE <hr/>
******************************************************************************/

/* tODO: review the block below, how's the default <hr> style? */
hr {
	/* a better looking default horizontal rule */
	display: block;
	margin: 1em 0;
	height: 1px;
	border: 0;
	background-color: #edf2f7;
	/* add the correct box sizing in Firefox */
	box-sizing: content-box;
	/* show the overflow in Edge and IE */
	overflow: visible;
}

/******************************************************************************
		FIXES
******************************************************************************/

img {
	/* remove the border on images inside links in IE 10 */
	border-style: none;
	/* change default image behaviour */
	display: block;
	max-width: 100%;
	height: auto;
}

figure {
	/* remove default margins */
	margin: 0;
}
figcaption {
	text-align: center;
	font-size: 0.875rem;
	color: #6e8ca8;
}

template {
	/* add the correct display in IE 10+ */
	display: none;
}

audio,
canvas,
progress,
video {
	/* remove the gap between elements and the bottom of their containers */
	vertical-align: middle;
}

/*
  Suppress the focus outline on elements that cannot be accessed via keyboard.
  This prevents an unwanted focus outline from appearing around elements that
  might still respond to pointer events.
*/
[tabindex="-1"]:focus {
	outline: none !important;
}

/* add the correct display in IE 10 */
[hidden] {
	display: none !important;
}

/* change the cursor on disabled, not-editable */
[aria-disabled],
[disabled] {
	cursor: not-allowed;
}

@-ms-viewport {
	width: device-width;
}

/******************************************************************************
		OPINIONATED
******************************************************************************/

/*
    !!! IMPORTANT: Non-standard use of <b> and <i> !!!

    <b> is used as a block element, replacement for <div>
    <i> is used as an inline block element, replacement for <span>
*/
b {
	display: block;
	font-weight: inherit;
	background: transparent;
}

i {
	display: table-cell;
	vertical-align: text-bottom;
	font-style: inherit;
	background: transparent;
}
