.content {
	line-height: 1.5555555556;
	font-size: 1.6rem;
	font-weight: normal;
	font-family: $font.family.serif, $font.family.default;
	color: $color.black;
}

.content h1,
.content h2,
.content h3,
.content h4 {
	font-family: $font.family.serif;
	font-weight: 400;
	line-height: 1.25;
}

.content p ~ h1,
.content p ~ h2,
.content p ~ h3,
.content p ~ h4 {
	margin-top: 1.3em;
}

.content h1 + p,
.content h2 + p,
.content h3 + p,
.content h4 + p {
	margin-top: 1.6em;
}

.content p {
	line-height: 1.6;
}
.content p ~ p {
	margin-top: 1.35em;
}

.headline {
}

$screen_576 {
	.content {
	}
}

$screen_768 {
	.content {
	}
}

$screen_992 {
	.content {
	}
}

$screen_1200 {
	.content {
	}
}
