$h1: "h1:not([class])";
$h2: "h2:not([class])";
$h3: "h3:not([class])";
$h4: "h4:not([class])";
$h5: "h5:not([class])";
$headline: "$h1, .headline";
$header: "$h3, .header";

.content {
	font-size: 1.6rem;
	font-weight: normal;
	font-family: $font.family.sans;
	color: $color.black;
}

$headline {
	line-height: 1.214;
	font-weight: 400;
	font-size: 2.8rem;
	font-family: $font.family.serif;
	letter-spacing: 0;
}

.headline + .subhead,
$h1 + $h2 {
	margin-top: 1em;
	line-height: 1.6em;
	font-size: 1.8rem;
	font-weight: 400;
	font-family: $font.family.sans;
	letter-spacing: 0.005em;
}

$header {
	line-height: 1.4;
	font-size: 2rem;
	font-weight: 600;
	font-family: $font.family.serif;
	letter-spacing: 0.01em;
}

.headline + .subhead {
	margin-top: 1.25em;
}

p {
	line-height: 1.6;
	font-size: 1.8rem;
	font-family: $font.family.serif;
}
p + p {
	margin-top: 0.88888888em;
}

.headline + p,
.header + p,
$h1 + p,
$h3 + p {
	margin-top: 0.66666666em;
}
$h2 + $h3,
$h2 + p,
table + p,
ul + p,
ol + p {
	margin-top: 1.5em;
}

p + .headline,
p + .header,
p + $h1,
p + $h2,
p + $h3,
p + table,
p + ul,
p + ol {
	margin-top: 1.66666666em;
}

$screen_768 {
	$headline {
		line-height: 1.211;
		font-size: 3.8rem;
	}
	.headline + .subhead,
	$h1 + $h2 {
		font-size: 2.1rem;
	}
	$header {
		font-size: 2.4rem;
	}

	p {
		font-size: 2rem;
	}
}
