/******************************************************************************
		HEADINGS
******************************************************************************/
.headline {
	line-height: 3.2rem;
	font-size: 2.8rem;
	font-weight: 400;
	font-family: $font.serif;
	letter-spacing: 0;
}
.subhead {
	margin-top: 2rem;
	line-height: 2.8rem;
	font-size: 1.8rem;
	font-weight: 400;
	font-family: $font.sans;
	letter-spacing: 0.005em;
}
.header {
	margin-top: 3.2rem;
	line-height: 2.8rem;
	font-size: 2rem;
	font-weight: 600;
	font-family: $font.serif;
	letter-spacing: 0.01em;
}

/******************************************************************************
		PARAGRAPH
******************************************************************************/

.font_serif p {
	line-height: 2.8rem;
	font-size: 1.8rem;
	font-family: $font.serif;
}

/******************************************************************************
		LINKS
******************************************************************************/
.document a {
	color: #0000f2;
	font-weight: 500;
}
.article a {
	position: relative;
	text-decoration: none;
	box-shadow: inset 0 -2px 0 0 rgba(0, 118, 255, 0.5), inset 0 -0 0 0 #e6f3ff;
	transition: box-shadow 0.25s ease-in;
}
.article a:hover,
.article a:active,
.article a:focus {
	text-decoration: none;
	color: inherit;
	box-shadow: inset 0 -2px 0 0 rgba(0, 118, 255, 1), inset 0 -3em 0 0 #e6f3ff;
}
.article a:visited {
	text-decoration: none;
}
.article a:focus {
	outline-offset: 2px;
	outline-style: solid;
	outline-width: 3px;
	outline-color: #0076ff;
}

/******************************************************************************
		HELPERS
******************************************************************************/

[class~="truncate"],
.truncate {
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}
[class~="nowrap"],
.nowrap {
	white-space: nowrap !important;
}
.bold {
	font-weight: 600 !important;
}
.italic {
	font-style: italic !important;
}
.caps {
	text-transform: uppercase !important;
}
/******************************************************************************
		TO REVIEW
******************************************************************************/

/* typography containers */
.content {
	font-size: 1.6rem;
	font-weight: normal;
	font-family: $font.sans;
	color: $color.black;
}

/* images inside article */
.article img {
	margin-top: 2rem;
}
.article figcaption {
	margin-top: 0.25em;
	font-size: 1.4rem;
}

/* code blocks */
.code_block,
.article pre {
	margin-top: 2rem;
}

/* tables */
.article table:not(:first-child) {
	margin-top: 2rem;
}

$screen_768 {
	.headline {
		line-height: 1.211;
		font-size: 3.8rem;
	}
	.subhead {
		font-size: 2.1rem;
	}
	.header {
		font-size: 2.4rem;
	}
	.article p {
		font-size: 2rem;
	}
}
