/*
	headline: 180–200%
	title: 130–150%
	sub-heading: 100–125%
	header: 100–125%
	line-height: 120–145%
*/

.content {
	line-height: 1.5555555556;
	font-size: 1.8rem;
	font-weight: normal;
	font-family: $font.family.serif, $font.family.default;
	color: $color.black;
}

$screen_576 {
	.content {
		font-size: 1.8rem;
	}
}

$screen_768 {
	.content {
		font-size: 1.6rem;
	}
}

$screen_992 {
	.content {
		font-size: 1.6rem;
	}
}

$screen_1200 {
	.content {
		font-size: 1.8rem;
	}
}
