.sample {
	background-color: #fff;
	box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
		0 1px 2px rgba(102, 119, 136, 0.3);
	border-radius: 3px;
}
.sample:not(:first-child) {
	margin-top: 2rem;
}
.details {
	padding: 1rem;
	background-color: #f8f9fa;
}
.details code {
	font-size: 0.875em;
	padding: 0.25em 0.5em;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(73, 87, 184, 0.1);
}
.example {
	position: relative;
	padding: 1rem;
}
.example_toggle {
	position: absolute;
	top: -1.25em;
	right: 1rem;
	padding: 0.5em 0.75em;
	font-size: 0.625em;
	text-transform: uppercase;
	background-color: #fff;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0 5px 20px -5px rgba(50, 50, 93, 0.12),
		0 3px 4px -2px rgba(0, 0, 0, 0.08);
	transition: box-shadow 0.2s ease-out;
}
.example_toggle:active {
	box-shadow: 0 5px 0 -5px rgba(50, 50, 93, 0.12),
		0 1px 1px -2px rgba(0, 0, 0, 0.08);
}
.example_code {
	font-family: monospace;
}
