$max_width: 78rem;
$padding: 0 2rem;

.section {
	padding: $space.inset.square.xlarge;
	position: relative;
	background-color: $color.neutral.lightest;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05) !important;
}

.centered {
	position: relative;
	margin: 0 auto;
	max-width: $max_width;
	padding: $padding;
}
.flexible {
	position: relative;
}

.title {
	margin: 0 auto;
	padding: $padding;
	max-width: $max_width;
	font-size: $font.size.large;
}
.title + .flexible,
.title + .centered {
	margin-top: 2rem;
}
