$max_width: 78rem;

.section {
	padding: $space.inset.stretch.large;
	position: relative;
	background-color: $color.neutral.lightest;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05) !important;
}
$screen_992 {
	.section {
		padding: $space.inset.stretch.xlarge;
	}
}

.centered {
	position: relative;
	margin: 0 auto;
	max-width: $max_width;
}
.flexible {
	position: relative;
}

.title {
	margin: 0 auto;
	max-width: $max_width;
	line-height: 1.2;
	font-size: 1.6rem;
	font-family: $font.family.serif;
	line-height: 1.2;
	letter-spacing: 0.08rem;
	text-align: center;
	text-transform: uppercase;
	color: $color.neutral.dark;
}
.title + .flexible,
.title + .centered {
	margin-top: 2rem;
}
