/*
	Notes:
	 - size comes from: text, padding, icons
 */
.button {
	display: inline-block;
	vertical-align: middle;
	padding: $size.tiny $size.small;

	line-height: inherit;
	font: inherit;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	white-space: nowrap;
	letter-spacing: normal;
	color: inherit;
	font-size: $font.size.small;
	font-weight: 500;

	background-color: transparent;
	border: solid 1px transparent;

	transition-property: box-shadow, color, transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);

	/* reset some default styles */
	border: none;
	outline: none;
	appearance: none;
	user-select: none;
	cursor: pointer;
}

/* TYPES */

.default {
	composes: button;

	background-color: $color.white;

	border-radius: 3px;
	box-shadow: 0 0 0 1px color($color.neutral.darker a(4%)),
		0 1px 0 color($color.neutral.darker a(6%)),
		0 1px 3px color($color.neutral.darker a(40%));
}

.plain {
	composes: button;
	border-radius: 3px;
	background-color: transparent;
	border: 0;
}
.plain:hover {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

/* STATES */

.plain:hover,
.plain:focus,
.default:hover,
.default:focus {
	text-decoration: none;
	color: inherit;
	box-shadow: 0px 0px 0px 3px color($color.neutral.darker blue(60%) a(20%)),
		0px 0px 1px 0px $color.neutral.darker,
		0 1px 3px color($color.neutral.darker blue(60%) a(20%));
}

.plain:active,
.plain.active,
.default:active,
.default.active {
	transform: translateY(1px);
	box-shadow: 0px 0px 0px 3px rgba(239, 242, 245, 1), 0px 0px 0px 0px #fff,
		0px 0px 4px -1px $color.neutral.darker;
}

/* STYLES */

.default.accent {
	color: $color.white;
	background-color: $color.purple;
	box-shadow: 0 0 0 1px color($color.purple blackness(20%) a(10%)),
		0 1px 0 color($color.purple a(20%)),
		0 1px 4px color($color.purple blackness(70%) a(20%));
}
.default.accent:focus,
.default.accent:hover {
	color: $color.white;
	box-shadow: 0px 0px 0px 3px color($color.purple lightness(60%) a(20%)),
		0 1px 0 color($color.purple blackness(10%) a(20%)),
		0 1px 3px color($color.purple blackness(50%) a(20%));
}
.default.accent.active,
.default.accent:active {
	transform: translateY(1px);
	box-shadow: 0px 0px 0px 3px rgba(239, 242, 245, 1), 0px 0px 0px 0px #fff,
		0px 0px 4px -1px $color.purple;
}

/* MODIFIERS */

.small {
	padding: $size.micro $size.small;
	font-size: $font.size.tiny;
}
.large {
	padding: $size.small $size.medium;
}

.round {
	border-radius: 1em;
}

.disabled:active,
.disabled:focus,
.disabled:hover,
.disabled {
	opacity: 0.8;
	color: $color.neutral.dark;
	background-color: $color.neutral.lighter;
	cursor: not-allowed;
}
