pre,
code,
kbd,
samp {
	/* Correct the inheritance and scaling of font size in all browsers */
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	/* Correct the odd font sizing in all browsers */
	font-size: 1em;
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar;
}
